<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        MyWordList
      <% end %>
    </div>

    <div id="navbar" class="navbar-collapse collapse", role="navigation">
      <ul class="nav navbar-nav">
        <% if !user_signed_in? %>
          <li>
            <a href=<%= new_user_session_path %>>
              Login
              <span class="glyphicon glyphicon-log-in"></span>
            </a>
          </li>
          <li>
            <a href=<%= new_user_registration_path %>>
              Sign up
              <span class="sr-only"></span>
            </a>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              Logout
              <span class="glyphicon glyphicon-log-out"></span>
            <% end %>
          </li>
        <% end %>
        <% if admin? %>
          <li>
            <%= link_to new_quote_path do %>
              Go on, add another quote <span class="glyphicon glyphicon-thumbs-up"></span>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "http://dictionary.cambridge.org/dictionary/learner-english/", target: "_blank" do %>
              Cambridge Online Learners Dictionary <span class="glyphicon glyphicon-hand-right"></span>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div><!--/.nav-collapse -->
  </div>
</nav>